<%= link_to page, id: dom_id(page), class: "text-decoration-none p-4 -mx-4 hover:bg-gray-400" do %>
  <h5 class="font-bold" ><%= page.name %></h5>
  <div class="text-sm text-gray-700"><%= page.url %></div>
<% end %>
