<h2 class="text-2xl font-bold flex gap-2 items-center">
  <%= link_to "‹", root_path, class: "p-2 rounded hover:bg-gray-200 text-decoration-none" %>
  Monitor a page
</h2>


<%= render "form", page: @page %>
